[6001]
type=endpoint
context=default
disallow=all
allow=ulaw
transport=simpletrans
auth=auth6001
aors=6001
;mac=0004f23a43bf

[6002]
type=endpoint
context=default
disallow=all
allow=ulaw
transport=simpletrans
auth=auth6002
aors=6002

trust_id_outbound=yes
callerid=Leandra Opara <6002>

[simpletrans]
type=transport
protocol=udp
bind=0.0.0.0

[tlstrans]
type=transport
protocol=tls
bind=0.0.0.0
;various TLS specific options below:
cert_file=/tmp/14fe6445-78eb-4cf1-a6cd-8a3a4d77bcee.crt
priv_key_file=/tmp/549b1e0d-4bd2-4dce-8144-19bc2f711484.key
ca_list_file=/tmp/124b89b8-e79b-4e73-9fa2-df4390cbda8c.lst
cipher=SHA1
method=df4390cbda8c

[auth6001]
type=auth
auth_type=userpass
password=2034c37e
username=dd341d078cfd

[auth6002]
type=auth
auth_type=userpass
password=
username=dd341d078cfd

[6001]
type=aor
max_contacts=1