venv/*
poly_py_tools/__pycache__/*
.idea/*
directory.csv
tempfile
.~*
build/
dist/
poly_py_tools.egg-info/
pip-update/
.~*polypy.conf
/tests/fixtures/srv/tftp/
/tests/fixtures/etc/asterisk/
poly_py_tools/deprecated/__pycache__/*
poly_py_tools/provision/__pycache__/*
